
<h1>Listing Cocktails</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @cocktails.each do |cocktail| %>
    <tr>
      <td><%= cocktail.title %></td>
      <td><%= cocktail.ingredients %></td>
      <td><%= cocktail.method %></td>
      <td><%= link_to 'Show', cocktail_path(cocktail) %></td>
      <td><%= link_to 'Edit', edit_cocktail_path(cocktail) %></td>
      <td><%= link_to 'Destroy', cocktail_path(cocktail),
           method: :delete,
           data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>


<%= link_to 'New cocktail', new_cocktail_path %>
