<h1>New Cocktail</h1>

<%= form_with scope: :cocktail, url: cocktails_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :ingredients %><br>
    <%= form.text_area :ingredients %>
  </p>

  <p>
    <%= form.label :method %><br>
    <%= form.text_area :method %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', cocktails_path %>