<h1>Good Night In</h1>
<p>Welcome to the best cocktail app.</p>

<%= form_tag(welcome_index_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% for cocktail in @cocktails %>
        <div class='cocktail'>
            <strong> <%= cocktail.title %> </strong>
        </div>
      <% end %>
     </tr>       
  </tbody>
</table>

<%= link_to 'Our Cocktails', controller: 'cocktails' %>